<div class="cards">
  <div class="card-category card1", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'myplace21' %>);">
    Salades
  </div>

  <div class="card-category card2", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'myplace22' %>);">
    Salades
  </div>

  <div class="card-category card3", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'myplace24' %>);">
    Salades
  </div>

  <div class="card-category card4", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'myplace23' %>);">
    Tartes
  </div>

  <div class="card-category card5", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'myplace3' %>);">
    Cakes
  </div>

  <div class="card-category card6", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'myplace25' %>);">
    Croque-monsieur
  </div>
</div>
