<div class="cards">


  <figure class="image-effect" data-aos="fade-up">
      <!-- Expanded image -->
    <img src="<%= asset_path 'myplace21.jpg' %>" class="card-category card1" style="width:100%; object-fit: cover;">

      <!-- Image text -->
    <figcaption>
      <h3><span>Salades et Buddha Bowl</span></h3>
      <p>Buddha Bowl  Base légumes, riz, crudités, céréales + viande cuisson lente 6h  / saumon frais / falafel (vegan)</p>
      <p>Salades composées sur une base de mesclun : </p>
      <p>Tomates – mozzarella – basilic</p>
      <p>Haricots verts – olives – feta</p>
      <p>Etc.</p>
    </figcaption>
  </figure>

  <figure class="image-effect" data-aos="fade-up">
      <!-- Expanded image -->
    <img src="<%= asset_path 'myplace23.jpg' %>" class="card-category card1" style="width:100%; object-fit: cover;">

      <!-- Image text -->
    <figcaption>
      <h3><span>Tartes Salées & Cakes</span></h3>
      <p>Tarte épinards – tomates – chèvre</p>
      <p>Tarte poireaux – lardons – emmental</p>
      <p>Cake olives – lardons – noix</p>
      <p>Cake feta – olives – tomates séchées</p>
      <p>Etc.</p>
    </figcaption>
  </figure>

  <figure class="image-effect" data-aos="fade-up">
      <!-- Expanded image -->
    <img src="<%= asset_path 'dessert1.jpg' %>" class="card-category card1" style="width:100%; object-fit: cover;">

      <!-- Image text -->
    <figcaption>
      <h3><span>Desserts</span></h3>
      <p>Crumble aux fruits</p>
      <p>Fondant au chocolat</p>
      <p>Moelleux aux amandes</p>
      <p>Clafouti aux fruits</p>
      <p>Etc.</p>
    </figcaption>
  </figure>


<!--   <a class="card-link-zoom">
    <div class="card-category card2" data-aos="fade-up" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'myplace21.jpg' %>);">
      Salades
    </div>
  </a>

  <a class="card-link-zoom">
    <div class="card-category card4" data-aos="fade-up" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'myplace23.jpg' %>);">
      Tartes
    </div>
  </a>

  <a class="card-link-zoom">
    <div class="card-category card5" data-aos="fade-up" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'myplace3.jpg' %>);">
      Cakes
    </div>
  </a> -->

</div>
