<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <span style="font-family: 'Merriweather', serif;"><h1 data-aos="fade-right">My Place</h1></span>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse teste" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" data-aos="fade-up">
        <%= link_to "Accueil", "#accueil", class: "nav-link" %>
      </li>
      <li class="nav-item" data-aos="fade-up">
        <%= link_to "Le restaurant", "#le-restaurant", class: "nav-link" %>
      </li>
      <li class="nav-item" data-aos="fade-up">
        <%= link_to "La carte", "#la-carte", class: "nav-link" %>
      </li>
      <li class="nav-item" data-aos="fade-up">
        <%= link_to "Le brunch", "#le-brunch", class: "nav-link" %>
      </li>
      <li class="nav-item" data-aos="fade-up">
        <%= link_to "Contact", "#contact", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
