<nav class="navbar sticky-top">
  <span class="navbar-toggle" id="js-navbar-toggle">
      <i class="fas fa-bars" id="opening-menu"></i>
      <i class="fas fa-times" style="display:none;" id="closing-menu"></i>
  </span>
  <%= link_to root_path, class: "navbar-brand" do %>
    <span><h1 data-aos="fade-right" data-aos-once="true" style="font-family: 'Lobster', cursive;">My Place</h1></span>
  <% end %>
    <ul class="main-nav" id="js-menu">
      <li id="first-of-list" data-aos="fade-up" data-aos-once="true">
        <%= link_to "Accueil", "#accueil", class: "nav-links" %>
      </li>
      <li data-aos="fade-up" data-aos-once="true">
        <%= link_to "Le restaurant", "#le-restaurant", class: "nav-links" %>
      </li>
      <li data-aos="fade-up" data-aos-once="true">
        <%= link_to "La carte", "#la-carte", class: "nav-links" %>
      </li>
      <li data-aos="fade-up" data-aos-once="true">
        <%= link_to "Le brunch", "#le-brunch", class: "nav-links" %>
      </li>
      <li data-aos="fade-up" data-aos-once="true">
        <%= link_to "Contact", "#contact", class: "nav-links" %>
      </li>
  </ul>
</nav>
<!--
<script>
  let mainNavLinks = document.querySelectorAll("nav ul li a");
  let mainSections = document.querySelectorAll("main section");

  let lastId;
  let cur = [];

  window.addEventListener("scroll", event => {
    let fromTop = window.scrollY;

    mainNavLinks.forEach(link => {
      let section = document.querySelector(link.hash);

      if (
        section.offsetTop <= fromTop &&
        section.offsetTop + section.offsetHeight > fromTop
      ) {
        link.classList.add("current");
      } else {
        link.classList.remove("current");
      }
    });
  });
</script>
 -->
