<section id="accueil">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "myplace1.jpg", class:"d-block photos-carousel", alt:"Terrasse du restaurant my place" %>
        <!-- <img class="d-block w-100" src="https://www.pizzeriadauteuil-restaurant.com/wp-content/uploads/2018/01/slider2bis.jpg" alt="First slide"> -->
      </div>
      <div class="carousel-item">
        <%= image_tag "myplace5.jpg", class:"d-block photos-carousel", alt:"Intérieur du restaurant" %>
      </div>
      <div class="carousel-item">
        <%= image_tag "myplace6.jpg", class:"d-block photos-carousel", alt:"Plat" %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<br>

<section id="le-restaurant">
  <div class="container">
    <h2 class="title-section">Le restaurant</h2>
    <div class="trait-title"></div>
    <div class="description-restaurant">
      <div class="adj-photo">
        <%= image_tag "myplace10.jpg", class:"photo-desc", alt:"Décoration d'intérieur 1" %>
        <h3>Chaleureux</h3>
        <p>Une ambiance apaisante, chaleureuse et une décoration naturelle constituée d’éléments en bois et de végétaux.</p>
      </div>
      <div class="adj-photo">
        <%= image_tag "myplace11.jpg", class:"photo-desc", alt:"Décoration d'intérieur 2" %>
        <h3>Sain et bon</h3>
        <p>Une cuisine bonne pour le corps et l’esprit. Ici, les soupes, salades et cakes sont faits maison.</p>
      </div>
      <div class="adj-photo">
        <%= image_tag "myplace14.jpg", class:"photo-desc", alt:"Décoration d'intérieur 3" %>
        <h3>Accueillant</h3>
        <p>Un endroit à vous, pour vous ressourcer et reprendre des forces dans le calme et la sérénité.</p>
      </div>
    </div>
  </div>
</section>

<br>

<div class="plats-photo", style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'myplace20.jpg' %>);
"></div>

<br>

<section id="la-carte">
  <div class="container">
    <h2 class="title-section">La carte</h2>
    <div class="trait-title"></div>
    <%= render 'shared/cards-plats' %>
    <div class="link-carte">
      <%= link_to "Découvrez notre carte de nos plats", "/documents/la-carte-my-place.pdf", target: "_blank", class:"btn btn-ghost" %>
    </div>
  </div>
</section>

<br>

<section id="le-brunch">
  <div class="container">
    <h2 class="title-section">Le brunch</h2>
    <div class="trait-title"></div>
    <div class="brunch-card">
      <%= image_tag "myplace7.jpg", class:"photo-brunch", alt:"Salade" %>
      <div class="description-brunch">
        <h3>Venez déguster notre brunch chaque week-end</h3>
        <p>My place vous accueille chaque samedi et dimanche avec son brunch entre 11h30 et 15h ! Venez profiter de notre sélection de thé, café et chocolat chaud maison, notre jus de pomme artisanal bio, ainsi que de notre pain frais avec ses confitures, de nos œufs brouillés, tartes salées, salades composées, et de notre variété de desserts.</p>
      </div>
    </div>
  </div>
</section>

<br>

<section id="contact">
  <div class="container">
    <h2 class="title-section">Contact</h2>
    <div class="trait-title"></div>
    <div class="contact-informations">
      <div class="infos">
        <h3>Restaurant My Place Puteaux</h3>
        <p>6 Boulevard Richard Wallace, Puteaux, 92800</p>
        <p>Téléphone : +33 6 22 13 52 76</p>
        <h3>Ouvert 7 jours sur 7</h3>
        <p>De 11h30 à 15h du lundi au vendredi</p>
        <p>De 11h30 à 15h le week-end pour notre brunch</p>
        <h3>Contact privatisation</h3>
        <p>Pour les réservations de groupe, les petit-déjeuner d’affaires ou les événements familiaux</p>
        <p>Contact au +33 6 22 13 52 76</p>
      </div>
      <div class="equipe"></div>
    </div>
  </div>
</section>

<br>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.9159303188767!2d2.239973815675107!3d48.87887917928954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e665188f8b5d63%3A0x40695396faca5043!2sMy%20Place!5e0!3m2!1sfr!2sfr!4v1576585731599!5m2!1sfr!2sfr" height="450" frameborder="0" style="border:0; width:100vw;" allowfullscreen=""></iframe>
